<template>
  <div class="dashboard">
    <h1>Back-Office</h1>
       
    <!-- <h2>Nombre d'utilisateurs inscrit : {{ users.data.length }}</h2> -->

    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Role</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in paginated" :key="user._id">
          <!-- <router-link :to="'/profile/' + user._id"><td>{{user.givenName}} {{user.familyName}}</td></router-link> -->
          <td>{{user.givenName}} {{user.familyName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <button @click="deleteUser(user)" v-if="user.role !== 'admin'" title="Supprimer cet utilisateur" class="delete-btn">
              &#128465;
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <button class="pagination__btn" @click="prevPage">&#x2039;</button> 

      <div class="pages">
        {{currentPage}} / {{lastPage}}
      </div>
      <button class="pagination__btn" @click="nextPage">&#x203A;</button>
    </div>

  </div>
</template>

<script>
import {  mapGetters } from 'vuex'

export default {
  name: "Dashboard",
  data(){
    return {
      currentPage: 1,
      itemPerPage: 6,
      usersArraySize: null,
      lastPage: null
    }
  },
  methods: {
    deleteUser(user) {
      this.$store.dispatch('user/deleteUser', user._id)
      .then(()=>{
        this.$toasted.show(`${user.givenName} a été supprimé`, {
          duration: 3000,
          className: 'toast-message'
        });      
      })
      .then(()=>{
          this.$store.dispatch('user/fetchUsers', this.usersArraySize);
      })
    },
    nextPage() {
      this.lastPage = Math.ceil(this.usersArraySize.length / this.itemPerPage);
      if( this.currentPage < this.lastPage ) this.currentPage++;
    },
    prevPage() {
      if(this.currentPage > 1) this.currentPage--;
    }
  },

  computed: {
    ...mapGetters({
      users: 'user/getUsers'
    }),
    indexStart() {
      return (this.currentPage - 1) * this.itemPerPage;
    },
    indexEnd() {
      return this.indexStart + this.itemPerPage;
    },
    paginated() {
      this.usersArraySize = this.users.data;
      return this.usersArraySize.slice(this.indexStart, this.indexEnd);
    }
  },
  mounted(){
    this.$store.dispatch('user/fetchUsers', this.usersArraySize);

    // this.$store.subscribe((mutations) => {
    //   if( mutations.type === "user/SET_USERS" ){ 
    //      = this.mutation.payload.data
    //   }
    // })
  }
}
</script>

<style lang="scss" scoped>

.dashboard {
  margin-top: 80px;
  min-height: calc( 100vh - 140px);
  
  h1 {
    font-size: 40px;
    margin: 20px auto;
  }
  h2{
    margin: 10px auto;
  }
  table {
    overflow-x:scroll;
    width: auto;
    margin: 0 auto 20px;
    border: 2px solid;
    width: 100%;
    max-width: 800px;

    @media screen and (max-width: 600px){
      display: block;
    }

    th {
      padding: 5px;
      vertical-align: middle;
      border: 2px solid;
    }
    tbody{
          border:2px solid;
    }
    tr {
      border: 2px solid;
      padding: 5px;
      height: 50px;
      
      td{
        padding: 10px;
        vertical-align: middle;
        word-break: break-all;
        max-width: 200px;
        word-break: break-all;
      }

      &:nth-child(even){
        background-color: rgb(219, 219, 219);
      }

      .delete-btn{
        font-weight: bold;
        color: red;
        cursor: pointer;

        &:hover{
          color: black;
        }
      }
    }
  }
  .pagination {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;

    &__btn {
      padding: 10px;
      width: 30px;
      height: 30px;
      font-size: 18px;
      background-color: black;
      border-radius: 4px;
      cursor: pointer;
      color: white;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>