<template>
  <div class="error">
    <h2>Oups, cette page n'existe pas...</h2>
  </div>
</template>

<script>
/* import mapActions from 'vuex' */
  export default {
    name: "Error" 
  };
</script>
<style lang='scss' scoped>
    .error{
      margin-top: 80px;
      min-height: calc( 100vh - 140px);
      
      h2{
        padding-top: 20vh;
      }
    }
</style>