<template>
  <div class="home">

      <div class="search-bar">
          <div class="form">
              <label for="search" class="form__label">Rechercher un film </label>
              <div class="form__group">

                  <input class="search" id="search" name="search" @input="filtering" v-model.trim="search" type="text"/>

                  <div class="form__group__icon">
                      <img src="/img/search-icon.png" alt="Icône de recherche">
                  </div>
              </div>
          </div>
      </div>
      
      <p class="empty-list" v-if="filteredList && filteredList.length <= 0">Aucun film ne correspond à votre recherche.</p>

      <div class="movie-list">

        <movie-thumbnail v-for="movie in filteredList" :key="movie.id" :movie="movie"/>

      </div>
  </div>
</template>

<script>

import MovieThumbnail from '../components/MovieThumbnail.vue';

export default {
  name: 'Home',
  components: {
    MovieThumbnail
  },
  data() {
    return {
      movies: null,
      filteredList: null,
      search: null,
      user: {},
    }
  },

  methods: {
    filtering() {
      let searchValue = this.search;

      if(searchValue === "" || searchValue === null){
          this.filteredList = this.movies;
      } else {
          this.filteredList = this.movies.filter(movie => movie.original_title.toLowerCase().includes(searchValue))  
      }
    }
  },

  mounted () {
    this.$store.dispatch('getMovies');
  },
  computed: {

  },

  created(){
    this.$store.subscribe(mutations => {
      if ( mutations.type === "MOVIE_LIST" ){
        this.movies = mutations.payload.data;
        this.filteredList = this.movies;
      }
    })
    this.user = this.$store.state.auth.user;
  }
}
</script>

<style lang="scss" scoped>
.home{
  margin-top: 80px;
  min-height: calc( 100vh - 140px);

    .movie-list {
        list-style: none;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;;
        margin: 0 auto;
    }
    .search-bar{
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    
        .form {
            box-sizing: border-box;
            width: 80%;
            max-width: 630px;
            margin: 0 auto;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__label{
                margin-bottom: 10px;
                font-size: 24px;
            }
            
            &__group {     
                position: relative;   
                width: 80%;
                height: 35px;
                max-width: 400px;
                display: flex;
                margin: 0 auto;
                border: 2px solid ;
                border-radius: 20px;
                transition: 0.5s;
                box-shadow: none;

                &:focus-within{
                    box-shadow: 1px 1px 10px rgb(167, 167, 167);
                    transition: 0.5s;
                }

                input {
                    position: relative;
                    z-index: 3;
                    width: 100%;
                    box-sizing: border-box;
                    height: 35px;
                    padding: 0 0 0 15px;;
                    background-color: transparent;
                    border: none;
                    outline: none;

                    &:focus + div{
                        transition: opacity 0.7s;
                        opacity: 0;
                    }
                }

                &__icon {
                    position: absolute;
                    top: 0;
                    transition: 1s;
                    z-index: 0;
                    right: 0;
                    width: 70px;
                    height: 35px;
                    box-sizing: border-box;
                    background-color: transparent;
                    border: none;

                    img {
                        position: absolute;
                        width: 20px;
                        top: 8px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 20px;
                    }
                }
            }
        }
    }
}

</style>