<template>
  <div class="login">
     <form action="" class="form" @submit.prevent="handleSubmit">

        <h2>Connexion</h2>
        
        <div class="form__group">
          <label for="email">Email</label>
          <input type="email" name="email" required v-model="loginEmail">
        </div>

        <div class="form__group">
          <label for="password">Mot de passe</label>
          <input type="password" name="password" required v-model="loginPassword">
        </div>

        <button type="submit">Se connecter</button>

        <router-link to="/register" class="register-btn">Pas encore de compte ? Inscrivez-vous</router-link>

    </form>

  </div>
</template>

<script>
  export default {
    name: "Login",
    data(){
      return {
          loginPassword: "",
          loginEmail: ""
      }
    },
    methods:{
      handleSubmit(){
        this.$store.dispatch('logUser', { email: this.loginEmail, password: this.loginPassword })
      }
    },
    created(){
      this.$store.subscribe((mutations) => {
        if( mutations.type === "USER" ){ 
          this.$toasted.show(`Bienvenue ${this.$store.getters.getUser.givenName}`, {
            duration: 2000,
            className: 'toast-message'
          });
          if( mutations.payload.data.role === "admin" ) this.$router.push('/dashboard').catch( () => {} )
          else this.$router.push('/').catch( () => {} ) }
      })
    },
  };
</script>

<style lang="scss" scoped>
  .login {
    margin-top: 80px;
    min-height: calc( 100vh - 140px);
  }
  .form {
        width: 90%;
        max-width: 500px;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 2px 2px 10px lightgrey;
        margin: 5vh auto 0;

        h2{
            font-size: 30px;
            margin: 20px auto;
        }

        &__group{
            width: 80%;
            max-width: 400px;
            display: flex;
            margin: 0 auto 10px;
            flex-direction: column;

            label{
                text-align: left;
            }

            input{
                border: 1px solid;
                width: 100%;
                height: 30px;
                margin: 5px auto 0;
            }
        }
        &__required{
            font-size: 10px;
            text-align: right;
            width: 90%;
        }
        .register-btn{
          display: block;
          margin: 20px auto 5px;
        }

       button[type="submit"] {
            padding: 10px 0;
            margin: 20px auto 0;
            width: 200px;
            font-size: 22px;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
            
            &:hover{
                background-color: rgb(37, 37, 37);
            }
        }
    }
</style>