<template>
  <div class="movie" v-if="movie">

    <div class="movie__banner">
      <div class="movie__banner--digital">
        <img :src="`http://image.tmdb.org/t/p/w185/${movie.poster_path}`">
        <a target="_blank" :href="`https://www.imdb.com/title/${movie.imdb_id}`">
          Voir la bande annonce de {{ movie.title }} sur IMDB
        </a>
      </div>    

      <div class="movie__banner--informations">
        <p class="movie__release">Sortie le {{ dateFr }}</p>
        <h1 class="movie__title">{{ movie.original_title }}</h1>
        <div class="movie__genres"> 
          <p>Genre<span v-if="movie.genres.length > 1">s</span>&nbsp;: </p>
          <p v-for="genre in movie.genres" :key="genre.id" v-html="`&nbsp;${genre.name},`"></p>
        </div>
        <p class="movie__overview"> {{ movie.overview }} </p>
      </div>

      <div class="movie__banner--stats">
        <div class="vote">
          <p> {{ movie.vote_average }}/10</p>
        </div>
      </div>

    </div>

    <div class="movie__interactions">
      
        <comment-section/>
      
    </div>
  </div>
</template>

<script>
import CommentSection from '../components/CommentSection';

export default {
  components: { CommentSection },
  name: "Movie",
  data(){
    return{
      movie: null,
      comments: null
    }
  },

  mounted () {
    this.showMovie();
  },

  methods: {
    showMovie(){
      this.$store.dispatch('getMovie');
    },
  },
  computed: {
    dateFr() {
      return this.movie.release_date = new Date(this.movie.release_date).toLocaleDateString()
    }
  },
  created(){
    this.$store.subscribe(mutations => {
      if ( mutations.type === "MOVIE" ){
        this.movie = mutations.payload.data;
      }
      if ( mutations.type === "COMMENTS" ){
        this.comments = mutations.payload.data;
      }
    })
  }   
}
</script>

<style lang="scss">
  .movie {
    margin-top: 80px;
    
    &__banner {
      background: linear-gradient(white, black);
      min-height: 400px;
      border-bottom: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      @media screen and (max-width: 600px){
        min-height: unset;
      }

      &--digital {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          text-decoration: underline;
          color: white;
          padding: 5px;
          font-size: 14px;
        }
        
        img {
          width: auto;
          height: 250px;
        }
      }
      &--informations{
        color: black;
        display: flex;
        max-width: 650px;
        width: 100%;
        height: 60%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        box-sizing: border-box;
        padding-left: 10px;
        text-align: left;

        .movie__release{
          
        }

        h1{
          font-size: 40px;
        }

        p{
          padding: 10px 0 20px;
        }
        .movie__genres{
          display: flex;
        }
        .movie__overview {
          color: white;
        }
      }

      &--stats {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;

        .vote {
          border: 6px solid white;
          display: flex;
          box-shadow: 2px 3px 10px rgb(56, 56, 56);
          align-items: center;
          justify-content: center;
          font-size: 24px;
          padding: 10px;
          text-shadow: 2px 1px 4px black;
          color: white;
          border-radius: 50%;
          width: 80px;
          height: 80px;
          -webkit-animation: rotate-in-2-fwd-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-fwd-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        
          @media screen and (max-width: 1200px){
            margin-bottom: 20px;
          } 
        }
      }
    }

    &__interactions {
     
    }

    @-webkit-keyframes rotate-in-2-fwd-cw {
      0% {
        -webkit-transform: translateZ(-200px) rotate(-80deg) scale(0);
        transform: translateZ(-200px) rotate(-80deg) scale(0) ;
        opacity: 0;
      }
      100% {
        -webkit-transform: translateZ(0) rotate(0)  scale(1);
                transform: translateZ(0) rotate(0)  scale(1);
        opacity: 1;
      }
    }
  @keyframes rotate-in-2-fwd-cw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(-80deg) scale(0);
              transform: translateZ(-200px) rotate(-80deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0)  scale(1);
              transform: translateZ(0) rotate(0)  scale(1);
      opacity: 1;
    }
  }
  }
</style>

