<template>
  <div class="profile">
    <h1>Mes informations</h1>
    <div class="overlay" v-if="updateUserModal"></div>

    <div class="informations">
      <div class="informations__picture">
        <img v-if="getUser.image" :src="getUser.image" alt="Photo de Profil">
        <img v-else src="/img/profile-pic.jpg" alt="Photo de profil"/>
      </div>

      <div class="informations__textual">
        <p class="informations__textual__name">{{ getUser.givenName }} {{ getUser.familyName }}</p>
        <p class="informations__textual__email">{{ getUser.email }}</p>
      </div>
      
    </div>

    <button class="openEdit" @click="openEditModal">Modifier</button>


    <update-user v-if="updateUserModal" @closeModal="closeEditModal"/>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import UpdateUser from '../components/UpdateUser.vue';

export default {
    components: { UpdateUser },
    name: "Profile",
    data(){
      return{
        updateUserModal: false,
      }
    },
    methods: {
      openEditModal(){
        this.updateUserModal = true;
      },
      closeEditModal(){
        this.updateUserModal = false;
      }
    
    },
    computed: {
      ...mapGetters([
        "getUser" 
      ])
    }
  }
</script>

<style lang="scss" scoped>

.profile{
  position: relative;
  margin-top: 80px;
  min-height: calc( 100vh - 140px);
  
  .openEdit{
    background: black; 
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
  }

  h1{
    font-size: 40px;
    @media screen and (min-width:600px) and (max-width: 1600px){
      font-size: 5vw;
    }
  }
  .informations{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px){
      flex-direction: column;
    }

    &__picture{
      img {
        margin-right: 20px;
        width: 150px;
        height: 150px;
        border-radius: 60%;
      }
    }
    &__textual {
      text-align: left;

      p {
        margin-bottom: 20px;
        text-align: center;
      }

      &__name{
        font-size: 26px;

        @media screen and (min-width: 600px){
          font-size: 3vw;
        }
      }
    }
  }
}
</style>