<template>
    <form class="form comment-form" @submit.prevent="postComment" :class="{'is-locked' : isAuthenticated }" @click="checkAuth">   

        <h3>Ecrire un commentaire</h3>   

        <div class="form__group">
            <label for="commentTitle">Titre du commentaire</label>
            <input type="text" minlength="2" :disabled="isAuthenticated" maxlength="100" v-model.trim="comment.title" id="commentTitle" name="commentTitle" placeholder="Veuillez saisir un titre">
        </div>

        <div class="form__group">
            <label for="commentBody">Commentaire</label>
            <textarea v-model.trim="comment.content" :disabled="isAuthenticated" minlength="2" maxlength="400" id="comment" name="comment" rows="5" cols="33" placeholder="Veuillez saisir votre commentaire ici">
            </textarea>
        </div>

        <button type="submit">Envoyer</button>    

    </form>    
</template>

<script>
    export default {    
        name: "CommentForm",   
        data(){
            return{
                user: {},
                comment: {
                    movieId: null,
                    title: null,
                    content: null,
                },
                locked: true
            }
        },
        mounted(){
            this.comment.movieId = this.$store.getters.movie.data.id
        },
        methods: {
            postComment(){
                if(this.comment.title !== null && this.comment.content !== null){
                    this.$store.dispatch('postComment', this.comment).then(()=>{
                        this.comment = {};
                    }).then(()=>{
                         this.$toasted.show(`Commentaire envoyé`, {
                            duration: 1000,
                            className: 'toast-message'
                        });
                    })
                }
            },
            
            checkAuth(){
                if(this.isAuthenticated){
                    this.$router.push('/login').catch(err => console.log(err) )
                }
            }
        },
        computed:{
            isAuthenticated(){
                return !this.$store.state.auth.user;
            }
        }
    }
</script>

<style lang="scss" scoped>

 
    .form {
        width: 100%;
        max-width: 500px;
        padding: 20px;
        box-sizing: border-box;

        h3{
            font-size: 30px;
            margin: 20px auto;
        }

        &__group{
            width: 80%;
            max-width: 400px;
            display: flex;
            margin: 0 auto 15px;
            flex-direction: column;

            label{
                text-align: left;
            }

            input, textarea { 
                border-radius: 4px;
                width: 100%;
                margin: 5px auto 0;
                border: 2px solid black;
                font-family: Arial;
                box-sizing: border-box;
                padding: 10px;
                font-size: 14px;
                color: black;
            }
        }

        button[type="submit"] {
            padding: 10px 15px;
            margin: 10px auto 0;
            font-size: 16px;
            background-color: black;
            color: white;
            cursor: pointer;
            border-radius: 4px;
            text-transform: uppercase;
            border: none;
            font-size: 16px; 
            
            &:hover{
                background-color: rgb(37, 37, 37);
            }
        }
    }
</style>