<template>
    <div class="comment-section">        
        <comment-form />
        <comment-list />  
    </div>  
</template>

<script>

import CommentList from './CommentList.vue';
import CommentForm from './CommentForm.vue';

export default {
    components: { CommentList, CommentForm },    
    name: "CommentSection",  
    data(){
        return{

        }
    },
    methods:{
       
    }
}
</script>

<style lang="scss" scoped>
    .comment-section {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        min-height: 100px;
        display: flex;
        align-items: baseline;
        justify-content: space-around;

        @media screen and (max-width: 600px){
            flex-direction: column;
        }

        h3{
            font-size: 30px;
            margin: 0 auto 25px;
        }
    }
    
</style>