<template>
    <div class="comment" v-if="comment && comment.author !== null">
        <div class="header">
            <div class="user">
                <img v-if="comment.author.image" :src="comment.author.image" class="user__pic" title="Photo de profil">
                <img v-else src="/img/profile-pic.jpg" class="user__pic" title="Photo de profil">
                <p class="user__name">{{comment.author.givenName}}</p>
            </div>
            <p class="header__published">Publié le {{ formatedDate }}</p> 
            <!-- A modifier pour afficher la date en FR et au bon format-->
        </div>

        <hr>

        <div class="content">
            <p class="content__title">{{comment.title}}</p>
            <p class="content__body">{{comment.content}}</p>
        </div>
    </div>   
</template>

<script>
    export default {    
        name: "Comment",  
        props: ['comment'],  
        data(){
            return{

            }
        },   
        computed: {
            formatedDate(){
                return this.comment.creationDate.substring(0, 10);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .comment {
        border: 2px solid black;
        border-radius: 10px;
        width: 90%;
        margin: 10px auto;

        .header {
            padding: 10px 0;
            box-sizing: border-box;
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: space-between;
            
            .user {
                display: flex;
                align-items: center;

                &__pic {
                    margin-right: 10px;
                    position: relative;
                    left: -2px;
                    top: -2px;
                    width: 45px;
                    height: 45px;
                    border: 2px solid black;
                    border-radius: 10px;
                }
                
                &__name {
                    font-size: 20px;
                }
            }

            &__published {
                font-size: 10px;
                padding: 0 5px;
            }
        }

        hr {
            width: 70%;
            background-color: #E2E2E2;
            margin: 0 auto 6px;
            border: 1px solid #e2e2e2;
        }
        
        .content {
            padding: 10px;
            box-sizing: border-box;

            &__title{
                font-size: 24px;
                margin-bottom: 5px;
            }
            &__body{
                font-size: 14px;
            }
        }
    }
   
</style>