<template>
    <div class="comment-list" v-if="comments">
        <h3>Commentaires récents</h3>

        <comment v-for="comment in comments" :key="comment._id" :comment="comment"/> 

        <p v-if="comments.length <= 0">Il n'y a pas de commentaire pour le moment.</p>
    </div>  
</template>

<script>
import Comment from './Comment.vue';

export default {
    components: { Comment },   
    name: "CommentList",    
    props:{
        comment: Object,
    },
    data(){
        return{

        }
    },
    mounted(){
        this.$store.dispatch('getComments');
    },
    methods: {
    
    },
    computed: {
        comments(){
            return this.$store.state.comment.comments.data.filter(comment => 
            comment.movieId === this.$store.state.movie.movie.data.id
            )
        }
    },
    created(){
        this.$store.subscribe(mutations => {
            if ( mutations.type === "COMMENT" ){
                this.$store.dispatch('getComments');
            }
        })
    }
}
</script>

<style lang="scss" scoped>
    .comment-list {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        box-sizing: border-box;
        min-height: 100px;

        h3{
            font-size: 30px;
            margin: 0 auto 25px;
        }
    }
    
</style>