<template>
  <footer>
      Nicolas Durocher - 2021
  </footer>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style lang='scss' scoped>
    footer{
        height: 60px;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>