<template>
    <div class="movie-thumbnail" @mouseover="tooltip = true" @mouseleave="tooltip = false">
        <p class="movie-thumbnail__score">{{ movie.vote_average }}/10</p>
        <h3 class="movie-thumbnail__title">{{ movie.original_title }}</h3>

        <img :src="`http://image.tmdb.org/t/p/w185/${movie.poster_path}`" class="movie-thumbnail__poster"/>

        <div class="movie-thumbnail__tooltip" v-if="tooltip === true">
            <p>{{ movie.overview.slice(0, 150) }}..</p>
            <router-link :to="{ name: 'Movie', params: {id: movie.id } }">Voir la fiche du film</router-link>
        </div>
    </div>
</template>

<script>

export default {
    name: "MovieThumbnail",
    props: ['movie'],
    data(){
        return {
            tooltip: false,
        }
    },
    methods: {

    }
}
</script>

<style lang='scss'>

    .movie-thumbnail {
        position: relative;
        width: 300px;
        cursor: pointer;
        border-radius: 6px;
        height: 300px;
        margin: 10px;
        border: 2px solid black;
        transition: 0.5s;

        &:hover .movie-thumbnail__poster {
            transition: 0.5s;
            filter: none;
        }

        &__title {
            margin: 10px auto;
        }

        &__score{
            opacity: 1;
            position: absolute;
            top: 40px;
            background-color: #980002;
            right: -2px;
            color: white;
            border: 1px solid black;
            border-right-color: black;
            border-radius:  60px 0 0 60px; 
            padding: 10px;
        }
    
        &__poster {
            width: auto;
            height: 230px;
            filter: grayscale(70%);
        }

        &__tooltip{
            padding-top: 5px;
            position: absolute;
            z-index: 997;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 80%;
            color: black;
            box-sizing: border-box;
            min-height: 50px;
            font-size: 14px;
            background-color: rgba(254,254,254,0.8);

            a{
                color: black;
                padding:10px 0 20px;
                display: block;
            }
        }
    }
    // @keyframes slideIn {
    //     from{
    //         transform: translateX(80%);
    //         opacity: 0;
    //     }
    //     80%{
    //         opacity: 0;
    //     }
    //     to{
    //         transform: translateX(0);
    //         opacity: 1;
    //     }
    // }
</style>