<template>
    <nav >
        <router-link to="/">  
            <h1>SHARPED</h1>
        </router-link>

        <div v-if="smallDevice" class="menu-container">

            <svg xmlns="http://www.w3.org/2000/svg" v-if="!openMenu" @click="showMenu()" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather toggleMenu feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>

            <div class="menu" v-if="openMenu">
                <svg @click="closeMenu()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather close feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
                <router-link to="/">Accueil</router-link>
                <router-link v-if="auth" to="/profile">Profil</router-link>
                <router-link v-if="!auth" to="/register">S'inscrire</router-link>
                <router-link v-if="!auth" to="/login">Se connecter</router-link>
                <router-link v-if="user && user.role === 'admin'" to="/dashboard">Dashboard</router-link>
                <a nohref v-if="auth" class="log-out" @click="logOut" title="Se déconnecter">Déconnexion</a>
            </div>
        </div>

        <div v-else>
            <div class="menu">
                <router-link to="/">Accueil</router-link>
                <router-link v-if="auth" to="/profile">Profil</router-link>
                <router-link v-if="!auth" to="/register">S'inscrire</router-link>
                <router-link v-if="!auth" to="/login">Se connecter</router-link>
                <router-link v-if="user && user.role === 'admin'" to="/dashboard">Dashboard</router-link>
                <a nohref v-if="auth" class="log-out" @click="logOut" title="Se déconnecter">Déconnexion</a>
            </div>
        </div>
    </nav>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "Navbar",
        data(){
            return {
                openMenu: false,
                smallDevice: false,
            }
        },
        props: {
            auth: Boolean,
            role: String,
        },
        created() {
            window.addEventListener("resize", this.getResize);
        },
        destroyed() {
            window.removeEventListener("resize", this.getResize);
        },
        computed: {
            ...mapGetters({
                user: 'getUser'
            })
        },
        methods: {
            getResize(){
                 window.matchMedia("(max-width: 680px)").matches ? this.smallDevice = true : this.smallDevice = false;
            },
            showMenu(){
                this.openMenu = true;
            },
            closeMenu(){
                this.openMenu = false;
            },
            logOut(){
                this.$store.dispatch("logoutUser").then(() => {
                    this.$router.push('/').catch(()=>{});
                });  
            }
        },
        mounted(){
            this.getResize();
        }
    }
</script>

<style lang="scss" scoped>
    nav {
        height: 70px;
        width: 100%;
        border-bottom: 2px solid#980002;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        z-index: 999;
        position: fixed;

        @media screen and (max-width: 680px){
            display: flex;
            flex-direction: column;
            height: unset;
            margin-bottom: 15px;
        }

        a:first-of-type{
            color: inherit;
            text-decoration: none;
        }

        h1{
            font-family: 'stranger';
            font-size: 40px;
            color: black;
            padding:0 0 10px 10px;
            text-shadow: 1px 2px #980002;

            @media screen and (max-width: 680px){
                padding: 0;
            }
        }

        .toggleMenu{
            position: absolute; 
            top: -25px;
            left: 10px;
            cursor: pointer;
        }
        
        .menu-container{
            width: 100%;
            min-height: 35px;
            position: relative;
        }
        .menu {
            margin-right: 30px;
            height: 70px;
            display: flex;
            align-items: center;

            a {
                color: #980002;
                display: flex;
                align-items: center;
                padding: 0 10px;
                font-size: 20px;
                height: 70px;
                text-decoration: none;
                position: relative;
                border-bottom: 2px solid transparent;
                top: 1px;
                position: relative;

                @media screen and (max-width: 680px){
                    height: 35px;
                }
                
                &:hover{
                    border-bottom: 2px solid black;
                    text-shadow: 1px 1px rgb(221, 221, 221);
                    top: 1px;
                }
            }

            .log-out{
                color: black;
                background: none;
                cursor: pointer;
                transition: 0.5s;
            }

            @media screen and (max-width: 680px){
                display: flex;
                flex-direction: column;
                margin: 20px auto 0;
                height: unset;
                transition: 0.8s;
            }

            .close{
                position: absolute; 
                top: -25px;
                left: 10px;
                cursor: pointer;
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: opacity 0.7s;
            }
        }

        // &.fixed-nav {
        //     position: relative;
        //     animation:  slideNav 0.6s ease-out forwards; 

        //     @media screen and (max-width: 600px){
        //         animation: none;
        //     }   
        // }
        // @keyframes slideNav{
        //     from{
        //         transform: translateY(-70px);
        //         position: relative;
        //     }
        //     to{
        //         transform: translateY(0);
        //         position: fixed;
        //     }
        // }
    }
</style>
