<template>
    <form class="form user-form" @click.stop @submit.prevent="editUser">   
        <p class="close" @click="closeEditModal">&#10006;</p>

        <h3>Modifier le profil</h3>   

        <div class="form__group">
            <label for="givenName">Prénom</label>
            <input type="text" minlength="2" maxlength="100" v-model.trim="user.givenName" id="givenName" name="givenName" placeholder="Modifier le prénom"/>
        </div>

        <div class="form__group">
            <label for="familyName">Nom</label>
            <input v-model.trim="user.familyName" minlength="2" maxlength="100" id="familyName" name="familyName" placeholder="Modifier le nom de famille"/>
        </div>

        <div class="form__group">
            <label for="image">Photo de profil (URL: https://..)</label>
            <input v-model.trim="user.image" type="url" minlength="2" maxlength="250" id="image" name="image" placeholder="https://..."/>
        </div>

        <button type="submit">Envoyer</button>   
        <button class="cancel" @click="closeEditModal">Annuler</button> 

    </form>    
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {    
        name: "UpdateUser",   
        data(){
            return {
                user: {}
            }
        },
        mounted(){
            this.user = this.getUser;
        },
        methods: {
            editUser(){
                this.$store.dispatch('user/editUser', this.user)
                .then(()=>{
                    this.$emit('closeModal');
                })
            },
            closeEditModal(){
                this.$emit('closeModal');
            }
        },
        computed: {
            ...mapGetters([
                "getUser" 
            ])
        }
    }
</script>

<style lang="scss" scoped>

 
    .form {
        width: 100%;
        max-width: 500px;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        background-color: white;

        .close{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        h3{
            font-size: 30px;
            margin: 20px auto;
        }

        &__group{
            width: 80%;
            max-width: 400px;
            display: flex;
            margin: 0 auto 15px;
            flex-direction: column;

            label{
                text-align: left;
            }

            input { 
                border-radius: 4px;
                width: 100%;
                margin: 5px auto 0;
                border: 2px solid black;
                font-family: Arial;
                box-sizing: border-box;
                padding: 10px;
                font-size: 14px;
                color: black;
            }
        }

        button[type="submit"] {
            padding: 10px 15px;
            margin: 10px auto 0;
            font-size: 16px;
            background-color: black;
            color: white;
            cursor: pointer;
            border-radius: 4px;
            text-transform: uppercase;
            border: none;
            font-size: 16px; 
            
            &:hover{
                background-color: rgb(37, 37, 37);
            }
        }
        .cancel{
            border: none;
            background-color: transparent;
            color: #980002;
            cursor: pointer;
            text-decoration: underline;
            margin: 0 10px;
        }
    }
</style>