<template>

  <div id="app" class="wrapper">
      <navbar :auth="isAuth"/> 

      <router-view />
    
      <footer-element></footer-element>
  </div>

</template>

<script>
import FooterElement from './components/FooterElement.vue';
import Navbar from './components/Navbar.vue'
  export default{
    components:{
        Navbar,
        FooterElement,
    },
    data(){
      return {
        // isAuth : false,
      }
    },
    computed: {
      isAuth(){
        return this.$store.getters.isAuthenticated;
      }
    },
    created(){

      // this.$store.subscribe((mutations) => {
      //   if( mutations.type === "AUTH" ){
      //       this.isAuthenticated = mutations.payload.data
      //   }
      //   if ( mutations.type === "USER" ){
      //     this.user = mutations.payload.data;
      //     console.log(this.user)
      //   }
      // })
    },
    // mounted () {
    //     document.addEventListener('scroll', this.handleScroll);
    // },

    // methods: {
    //   handleScroll(){
    //    window.scrollY > 70 ? document.querySelector('nav').classList.add('fixed-nav') : document.querySelector('nav').classList.remove('fixed-nav');
    // }
  
}

</script>

<style lang="scss">

 .toast-message{
    border: 2px solid black !important;
    font-size: 26px !important;
    color: black !important;
    display: flex !important;
    justify-content: center !important; 
    background-color: white !important;
    font-family: Arial !important;
    text-transform: capitalize !important;
  }

  @font-face {
  font-family: "stranger";
  src: url("/fonts/STRANGERCREATURE.otf") format("ttf"),
    url("/fonts/STRANGERCREATURERegular.eot") format("eot"),
    url("/fonts/STRANGERCREATURERegular.woff") format("woff"),
    url("/fonts/STRANGERCREATURERegular.woff2") format("woff2")
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  #app {
    overflow-x: hidden;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .wrapper {
    min-height: 100vh;
  }

  h1{
    font-family: Calibri
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.6s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transition: opacity 0.6s;
  }
</style>
